.valign-wrapper {
  min-height: calc(100vh - 64px);
}

@media (min-width: 800px) {
  .card {
    width: 600px;
  }
}

.btn-small {
  height: 44px;
}

.tab.send a {
  color: #52B1F7 !important;
}

.tab.send a:hover,
.tabs .tab.send a:focus {
  color: #219BF5 !important;
}

.tab.send a:focus.active {
  background-color: #e7f4fe !important;
}

.tab.send a.active:active {
  background-color: transparent;
  color: #2196f3 !important;
}

.tab.send.disabled a,
.tab.send.disabled a:hover {
  background-color: transparent !important;
  color: #8fcdff !important;
}

.collapsible {
  box-shadow: none !important;
}

.collapsible li.disabled .collapsible-body {
  display: none !important;
}

.upload-file-list,
.receive-file-list {
  max-height: 215px;
  overflow-y: auto;
  border: 1px solid rgba(207, 207, 207, 0.62)
}

.upload-file-list thead th,
.receive-file-list thead th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.file-list {
  max-height: fit-content;
  word-wrap: break-word;
  border-collapse: collapse;
}

.file-list th,
td {
  max-height: fit-content;
  table-layout: fixed;
  word-wrap: break-word;
  padding: 1%;
}

.delete-file {
  position: inherit !important;
}

div#current_ongoing_file_tooltip {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.progress {
  background-color: #9ed1f8;
  border-radius: 4px;
  text-align: center;
  font-size: small;
  min-height: 18px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

.determinate {
  position: relative;
  text-align: center;
  white-space: nowrap;
  font-size: small;
  max-width: 100%;
}