html,
body,
.container {
  height: 97%;
}

@media (min-width: 800px) {
  .card {
    width: 550px;
  }
}

.btn-small {
  height: 44px;
}

.tabs .tab.generate a {
  color: #56aff6;
}

.tabs .tab.generate a:focus,
.tabs .tab.generate a:focus.active {
  background-color: #e7f4fe;
}

.tabs .tab.generate a:hover,
.tabs .tab.generate a:active,
.tabs .tab.generate a.active {
  background-color: transparent;
  color: #2196f3;
}

.collapsible {
  box-shadow: none !important;
}

.collapsible li.disabled .collapsible-body {
  display: none !important;
}

.upload-file-list {
  max-height: 215px;
  overflow-y: auto;
}

.upload-file-list thead th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.file-list {
  max-height: fit-content;
  word-wrap: break-word;
  border-collapse: collapse;
}

.file-list th,
td {
  max-height: fit-content;
  table-layout: fixed;
  word-wrap: break-word;
  padding: 1%;
}

.delete-file {
  position: inherit !important;
}

div#current_ongoing_file_tooltip {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.progress {
  background-color: #9ed1f8;
  border-radius: 4px;
  text-align: center;
  font-size: small;
  min-height: 18px;
  overflow: hidden;
  position: relative;
}

.determinate {
  position: relative;
  text-align: right;
  white-space: nowrap;
  font-size: small;
}

table {
  border: 1px solid rgba(207, 207, 207, 0.62)
}